* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #334;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

h3 {
    display: block;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.btnstyle {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(71, 0, 202, 0.1);
    background-color: #ddd;
    transition: background-color 0.3s;
}

.btnstylehover:hover {
    background-color: #fff;
    cursor: pointer;
    width: 100%;
}